.top-bar {
    position: fixed; /* ventana fija */
    top: 0;   
    left: 0;  
    width: 99%;
    background-color: #a5aaf0;
    padding: 10px 20px;
    display: flex;       /* formados en un renglon*/
    justify-content: space-around;
    align-items: center;
    z-index: 1000;       /*adelante de todo*/
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra */
}

.margenInicial {
    /* Empuja todo el contenido de la página hacia abajo */
    /* 60px es el margen para que el h1 quede visible debajo de la barra fija */
    margin-top: 60px;
}
