.botverde{
  background-color: #356035;
  color: #021526;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}

.botGene,
.botAzu{
  background-color: #007BFF;
  color: #021526;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}