body {
  display: flex;
  flex-direction: column; 
  align-items: flex-start; 
  min-height: 100vh;
  background: #ddd;
  margin: 10px;   
}
canvas {
      border: 2px solid black;
      background: white;
    }
#q {
  display: flex;
  justify-content: center; 
  align-items: center;    
  padding: 30px;
  background: #ddd;
  margin: 0;
  color: red;
  font-size: 30px;
}
.documentoo {
  display: block; 
  margin: 20px auto; 
  width: 300px;
  height: 200px;
}
.imagen{
  align-items: center;
}
p{
  font-size: 18px;
}