body {
  display: flex;
  flex-direction: column; 
  align-items: flex-start; 
  min-height: 100vh;
  background: #ddd;
  margin: 10px;   
}
canvas {
      border: 2px solid black;
      background: white;
    }
#q {
  display: flex;
  justify-content: center; 
  align-items: center;    
  padding: 30px;
  background: #ddd;
  margin: 0;
  color: red;
  font-size: 30px;
}
.documentoo {
  display: block; 
  margin: 20px auto; 
  width: 300px;
  height: 200px;
}
.imagen{
  align-items: center;
}
p{
  font-size: 18px;
  margin-right: 10px;
}

.letras,
.letras:visited,
.letras:hover,
.letras:active {
  font-size: 17px;
  color: #007BFF;
  color: red;
  /*text-decoration: none; */
  color: red;      
}

.botAlumnos{
  background-color: #007BFF;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.botGene{
  
  color: #0000ff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}