#titulo{
	display: flex; 
	align-items: center; 
	justify-content: space-between; 
	padding: 10px 20px; 
	background-color: #dddddd;
}
#titulo2{
	text-align: center;
	flex: 1;"
}
body{
	padding: 20px;
}
main{
	padding-left: 30px;
}
p,li{
	font-size: 20px;
	padding-left: 10px;
}
#codigos{
	font-size: 22px;
	padding-left: 30px;
}
#valores{
  float: right;
  margin-right: 50px; 
  font-size: 22px;
  font-weight: bold;
}
hr{
	height: 1.5px; 
  background-color: black;
}