.layout-index {
  width: 100%;
  max-width: 1500px;
  margin: auto;
  padding: 20px;

}

.seccion {
  border: 3px solid black;
  margin-bottom: 40px;
  padding: 20px;

}

.galeria {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  justify-items: center;
}

.galeria img {
  max-width: 180px;
  border: 3px solid black;
}

.botonera {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

.cv-links {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
}

@media (min-width: 768px) {
  .galeria {
    grid-template-columns: repeat(3, 1fr);
  }
}
